USE [master]
GO
/****** Object:  Database [viajecitossa]    Script Date: 12/06/2022 16:26:43 ******/
CREATE DATABASE [viajecitossa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'viajecitossa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\viajecitossa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'viajecitossa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\viajecitossa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [viajecitossa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [viajecitossa]
GO
/****** Object:  Table [dbo].[BOLETOS]    Script Date: 12/06/2022 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE_ID] [int] NULL,
	[VUELO_ID] [int] NULL,
 CONSTRAINT [PK_BOLETOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/06/2022 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NULL,
	[apellido] [varchar](25) NULL,
	[cedula] [varchar](25) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 12/06/2022 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](20) NULL,
	[clave] [varchar](20) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUELOS]    Script Date: 12/06/2022 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUELOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CIUDAD_ORIGEN] [nchar](50) NULL,
	[CIUDAD_DESTINO] [nchar](50) NULL,
	[VALOR] [float] NULL,
	[HORA_SALIDA] [datetime] NOT NULL,
 CONSTRAINT [PK_VUELOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOLETOS]  WITH CHECK ADD  CONSTRAINT [FK_BOLETOS_Cliente] FOREIGN KEY([CLIENTE_ID])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[BOLETOS] CHECK CONSTRAINT [FK_BOLETOS_Cliente]
GO
ALTER TABLE [dbo].[BOLETOS]  WITH CHECK ADD  CONSTRAINT [FK_BOLETOS_VUELOS] FOREIGN KEY([VUELO_ID])
REFERENCES [dbo].[VUELOS] ([ID])
GO
ALTER TABLE [dbo].[BOLETOS] CHECK CONSTRAINT [FK_BOLETOS_VUELOS]
GO
USE [master]
GO
